<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Form</h1>
    <form action="/update/<%=user.id%>" method="post">
        <input type="text" value="<%=user.name%>" placeholder="enter name" name="name" id=""><br>
        <input type="text" value="<%=user.email%>" placeholder="enter email" name="email" id=""><br>
        <button>submit</button>
    </form>

    <!-- <%=user%> -->
</body>

</html>